source "Kconfig.zephyr"

rsource "drivers/Kconfig"

menu "SGL-200 Application Options"

config SGL200
    bool "Enable SGL-200 application"
    default y

config SGL200_ACTUATOR_SERVO_PWM
    bool "Servo PWM actuator backend"
    default y
    depends on SGL200
    depends on PWM
    help
      Use TIM4_CH1 PB6 for pitch and TIM4_CH2 PB7 for yaw servo PWM.

endmenu
